/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.alata {
    font-family: 'Alata', sans-serif;
}

.josephin {
    font-family: 'Josefin Sans', sans-serif;
}

/* Flexbox  */

.flex {
    display: flex;
}

.fd-c {
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

/* CSS Animations */

@keyframes fade-in {
    from {
        opacity: 0
    } to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@Keyframes fade-out {
    from {
      opacity: 1;
    } to {
      opacity: 0;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
  }

/* Globals */

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
}

.container {
    padding: 0 5rem 0 5rem;
}
  
ul {
    list-style: none;
}

p {
    margin: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

/* Header  */
header {
    background-image: url(../images/desktop/image-hero.jpg);
    color: white;
}

header a {
    color: white;
}

nav {
    color: white;
}

nav ul {
    margin: 0;
}

.nav__desktop {
    padding-top: 2.5rem;
}

.logo {
    font-size: 1.875rem;
}

.header__links-desktop {
    position: relative;
}

.header__links-desktop:not(:last-child) {
    margin-right: 2.5rem;
}

.header__links-desktop::after {
    content:"";
    position: absolute;
    width: 1.875rem;
    height: 0.175rem;
    background: white;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%);
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.header__links-desktop:hover::after {
    animation: fade-in 300ms ease-in-out forwards;
}

#btnHamburger > span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
    transform-origin: left;
}

#btnHamburger > span:not(:last-child) {
    margin-bottom: 7px;
}

#btnHamburger.open > span:first-child {
    transform: rotate(45deg);
}

#btnHamburger.open > span:nth-child(2) {
    opacity: 0;
}

#btnHamburger.open > span:last-child {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}

.logo, #btnHamburger, .menu__mobile {
    z-index: 2;
}

.menu__mobile {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    padding-top: 15%;
    padding-left: 7%;
    font-size: 1.5rem;
}

.header__links-mobile {
    transition: font-weight 300ms ease-in-out, font-size 300ms ease-in-out;
}

.header__links-mobile:not(:last-child) {
    margin-bottom: 2.5rem;
}

.header__links-mobile:hover {
    text-shadow: 0px 0px 10px #ffffff;
}

@media (max-width: 575.98px) {
    .menu__mobile {
        padding-top: 25%;
    }
}

@media (max-width: 767.98px) {
    .container {
        padding: 0 1rem;
    }
    
    .hide__for-mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    .hide__for-desktop {
        display: none;
    }
}

.header__hero {
    box-sizing: border-box;
    width: 55%;
    padding: 7rem 0;
    text-transform: uppercase;
}

.header__hero p {
    border: 2px solid white;
    font-size: 4rem;
    padding: 30px;
}



